/* importing fonts from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* reseting default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* defining color pallet */

:root {
    --Very-dark-blue-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondery: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --saperator-line: hsl(215, 32%, 27%);
    --gamaGreen-shadow: rgb(127, 255, 0) 0px -12px 30px, rgb(127, 255, 0) 0px 4px 6px, rgb(127, 255, 0) 0px 12px 13px, rgb(127, 255, 0) 0px -3px 5px;
}


/* ======================================================================== */


/* default settings */

html {
    font-size: 18px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--Very-dark-blue-bg);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ======================================================================== */


/* card outer section parent wrapper */

.card__most__outer {
    width: 240px;
    height: 420px;
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
}


/* card inner child wrapper */

.innerparent__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* card itearnls */

.img__outer__wrapper {
    height: 50%;
    min-height: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-image: url('./static/images/image-equilibrium.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.4s ease;
}

.img__outer__wrapper:hover {
    transform: translateY(-2%);
    box-shadow: var(--gamaGreen-shadow)
}




.info__outer__wrapper {
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.info__outer__wrapper>h2 {
    color: var(--text-primary);
    font-size: 0.8em;
    letter-spacing: 1.4px;
}

.info__outer__wrapper>p {
    color: var(--text-secondery);
    font-size: 0.7em;
    line-height: 1.4;
}

.subInfo__outer__wrapper {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subInfo__left {
    flex: 1 0 auto;
    color: var(--Cyan);
    font-size: 0.6em;
    font-weight: 800;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
}

.subInfo__left img {
    margin-right: 5px;
    width: 0.8em;
}

.subInfo__right {
    flex: 1 0 auto;
    color: var(--text-secondery);
    font-size: 0.7em;
    line-height: 1.4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.subInfo__right img {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.profile__wrapper {
    height: 12%;
    border-top: 0.5px solid var(--saperator-line);
    color: var(--text-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8px;
}

.profileImg__outer__wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    background-color: var(--text-primary);
    border: 1px solid white;
}

.profileImg__inner__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileImg__inner__wrapper img {
    width: 100%;
    height: 100%;
}

.profile__wrapper>span {
    display: flex;
    font-size: 0.7em;
}

.profile__wrapper>span .credit {
    color: var(--text-secondery);
    margin: 0px 4px 0px 8px;
}